<!DOCTYPE html>
html
    head
        title Климатический отчет
        meta(charset="utf-8")
        link(rel="stylesheet", href="style.css")
    body
        h3 6-го декабря 2020-года минимальная температура среди всех регионов составляла #{result} градуса(ов) по Цельсию


