body{
    background-color: rgb(56, 133, 116);
    background: url("weather.png") no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: red;
    height: 50px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}